<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!--Renders Month view -->
<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Previous
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="closeOpenMonthViewDay()"
      >
        Next
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Month)"
        [class.active]="view === CalendarView.Month"
      >
        Month
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Week)"
        [class.active]="view === CalendarView.Week"
      >
        Week
      </div>
      <div
        class="btn btn-primary"
        (click)="setView(CalendarView.Day)"
        [class.active]="view === CalendarView.Day"
      >
        Day
      </div>
    </div>
  </div>
</div>

<h2>Division</h2>
<select (change)="SetDropDownValue($event)">
  <option value="">Select</option>
  <option value="Red">Red</option>
  <option value="Blue">Blue</option>
  <option value="White">White</option>
  <option value="North Star">North Star</option>
  <option value="Wedgewood">Wedgewood</option>
  <option value="Skyline">Skyline</option>
  <option value="Westminister">Westminster</option>
  <option value="Delaware Bluefish">Delaware Bluefish</option>
  <option value="Nottingham Green">Nottingham Green</option>
  <option value="Western Y">Western Y</option>
  <option value="Maple Valley">Maple Valley</option>
  <option value="Persimmon Creek">Persimmon Creek</option>
  <option value="Oaklands">Oaklands</option>
  <option value="Yorklyn">Yorklyn</option>
  <option value="Bear-Glasgow Y">Bear-Glasgow Y</option>
  <option value="Penn Acres">Penn Acres</option>
  <option value="Arundel">Arundel</option>
  <option value="Crestmoor">Crestmoor</option>
  <option value="Drummond Hill">Drummond Hill</option>
  <option value="Oakwood Valley">Oakwood Valley</option>
  <option value="Sherwood Park">Sherwood Park</option>
  <option value="Valleybrook">Valleybrook</option>
  
</select>

<div [ngSwitch] = 'dropDownValue'>
  <h3 *ngSwitchCase="'Red'">Red</h3>
  <h3 *ngSwitchCase="'White'">White</h3>
  <h3 *ngSwitchCase="'Blue'">Blue</h3>
  <h3 *ngSwitchCase="'North Star'">North Star</h3>
  <h3 *ngSwitchCase="'Wedgewood'">Wedgewood</h3>
  <h3 *ngSwitchCase="'Skyline'">Skyline</h3>
  <h3 *ngSwitchCase="'Westminister'">Westminster</h3>
  <h3 *ngSwitchCase="'Delaware Bluefish'">Delaware Bluefish</h3>
  <h3 *ngSwitchCase="'Nottingham Green'">Nottingham Green</h3>
  <h3 *ngSwitchCase="'Western Y'">Western Y</h3>
  <h3 *ngSwitchCase="'Maple Valley'">Maple Valley</h3>
  <h3 *ngSwitchCase="'Persimmon Creek'">Persimmon Creek</h3>
  <h3 *ngSwitchCase="'Oaklands'">Oaklands</h3>
  <h3 *ngSwitchCase="'Yorklyn'">Yorklyn</h3>
  <h3 *ngSwitchCase="'Bear-Glasgow Y'">Bear-Glasgow Y</h3>
  <h3 *ngSwitchCase="'Penn Acres'">Penn Acres</h3>
  <h3 *ngSwitchCase="'Arundel'">Arundel</h3>
  <h3 *ngSwitchCase="'Crestmoor'">Crestmoor</h3>
  <h3 *ngSwitchCase="'Drummond Hill'">Drummond Hill</h3>
  <h3 *ngSwitchCase="'Oakwood Valley'">Oakwood Valley</h3>
  <h3 *ngSwitchCase="'Sherwood Park'">Sherwood Park</h3>
  <h3 *ngSwitchCase="'Valleybrook'">Valleybrook</h3>
  <h3 *ngSwitchDefault=""></h3>
</div>
<br />
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-day-view>
</div>
<br /><br /><br />
<h3>
  Edit events
  <button class="btn btn-primary float-right" (click)="addEvent()">
    Add new
  </button>
  <button class="btn btn-success float-right" (click)="save()">
    save
  </button>
  <div class="clearfix"></div>
</h3>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Primary color</th>
        <th>Secondary color</th>
        <th>Starts at</th>
        <th>Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">
        <td>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="event.title"
            (keyup)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color.primary"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            type="color"
            [(ngModel)]="event.color.secondary"
            (change)="refresh.next()"
          />
        </td>
        <td>
          <input
            class="form-control"
            type="text"
            mwlFlatpickr
            [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()"
            [altInput]="true"
            [convertModelValue]="true"
            [enableTime]="true"
            
            dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i"
            placeholder="Not set"
          />
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvent(event)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


